.home-page{
    position: relative;
    height: calc(100vh - 80px);
}

.home-page .text-zone {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
    margin-left: 22px;
}
.home-page .text-zone h1 {
    color: #fefefe;
    font-size: 56px;
    line-height: 63px;
    margin: 0;
    font-family: 'Koliko';
    font-weight: 400;
}


.home-page .text-zone img {
    margin-left: 20px;
    opacity: 0;
    width: 32px;
    height: auto;
    animation: rotateIn 1s linear both;
    animation-delay: 1.4s;
}
.home-page h2 {
    color: #fffbfb;
    margin-top: 20px;
    font-weight: 500;
    font-size: 15px;
    font-family: "HelveticaNeue";
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
}
.home-page .flat-button {
    color: var(--secondary-color);
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 2px solid var(--secondary-color);
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;
    border-radius: 0.5rem;
    background: #100f0f85;
}
.home-page .flat-button:hover {
    background: var(--secondary-color);
    color: #000;
}

.logo-container {
    z-index: 0;
    width: 400px;
    height: 609px;
    opacity: 1;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;
    animation: zoomInDown 2.5s ease-in-out 1s;
    user-select: none;
}
.logo-container svg {
    width: 100%;
    height: auto;
    bottom: 0;
    transform: rotateZ(30deg) !important;
}
.logo-container .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 1;
    transform: rotateZ(30deg) !important;
    z-index: 1;
}
.svg-container {
    stroke: #ffd700;
    stroke-width: 10;
}
@media (max-width: 600px){
    .home-page .text-zone h1 {
        color: #fff;
        font-size: 40px;
        line-height: 40px;
        margin: 0;
        font-family: 'Koliko';
        font-weight: 400;
    }
    .home-page .text-zone{
        width: 90%;
    }
}

